html {
    position: relative;
}


.navbar {
    background-color: dodgerblue;
}

.navbar-brand a {
    min-height: 1px;
    color: orangered;
}
body {
    margin-bottom: 120px;
    margin-top: 30px;
}

.jumbotron {
    background-color: bisque;
    
}

.jumbotron img {
    width: 150px;
    height: 150px;
    border: 5px solid lightblue;
    margin-top: 60px;
}

.jumbotron h1 {
    color: dodgerblue;
}

.jumbotron .telp {
    color: orangered;
}


.tentangkami {
    margin-top: 50px;
    min-height: 500px;
}
hr {
    width: 200px;
    border-top: 2px solid lightblue;
    
}

h2 {
    color: orangered;
    padding-top:25pt;
}
#promo3 {
    background-color: bisque;
}
.promo2 {
    margin-top: 50px;
    color: lightblue;
    font-display: block;
    font-display: optional;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

.promo1 {
    color: blueviolet;
    font-family: sans-serif;
    font-display: fallback;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
.section {
    min-height: 600px;
}

.produk {
    margin-top: 50px;
    background-color: lightblue;
}


.kontak {
    margin-top: 50px;
}

#email {
    margin-left: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-style: normal;
    
}

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #333;
    padding-top: 30px;

}

footer p {
    color: #aaa;
    font-size: 1,5em;
}

footer p i {
    color: ;
}


.image-width-full {
    width:100%;
}


































